<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlyTAU - Add Plane</title>
    <link rel="stylesheet" href="/static/admin_add_flight.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="top-bar">
        <div class="logo-link">
            <img src="/static/logo.png" alt="FlyTAU Logo" class="company-logo">
        </div>
    </div>

    <div class="wrapper">
        <h1>Add New Plane</h1>

        {% if error %}
            <div class="error-box">{{ error }}</div>
        {% endif %}

        <form method="POST">
            <div class="input-box">
                <select name="manufacturer" required>
                    <option value="" disabled selected>Select Manufacturer...</option>
                    <option value="Boeing">Boeing</option>
                    <option value="Airbus">Airbus</option>
                    <option value="Dassault">Dassault</option>
                    </select>                
                    <i class='bx bx-wrench'></i>
            </div>

            <div class="input-box">
                <input type="date" name="purchase_date" title="Purchase Date" required />
                <i class='bx bx-calendar'></i>
            </div>

            <div class="input-box">
                <select name="plane_type" required>
                    <option value="" disabled selected>Select Plane Size...</option>
                    <option value="small">Small Plane</option>
                    <option value="big">Big Plane</option>
                </select>
                <i class='bx bx-expand-alt'></i>
            </div>

            <button type="submit">Create New Plane</button>
        </form>

        <div class="footer">
            <a href="/admin/flights"><i class='bx bx-arrow-left'></i> Back to Flights</a>
        </div>
    </div>

</body>
</html>
