<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="/static/admin_login.css">
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap" rel="stylesheet">
  <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header class="top-bar">
    <a href="/" class="logo-link">
      <img src="/static/logo.png" alt="Company Logo" class="company-logo">
    </a>
  </header>

  <div class="wrapper">
    <h1>Admin Login</h1>
    <span class="pill">Managers only</span>

    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}

    <p class="muted">
      Please sign in using your manager ID and password
    </p>

    <form method="POST" action="/admin/login">
    <div class="input-box">
        <input type="number" name="tz" placeholder="Manager ID" required>
        <i class='bx bx-user'></i>
    </div>

    <div class="input-box">
        <input type="password" name="password" placeholder="Password" required>
        <i class='bx bx-lock'></i>
    </div>

    <button type="submit">Login</button>
    </form>


    <div class="footer">
      <a href="/">← Back to home</a>
    </div>
  </div>
</body>
</html>
